@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
    flex-direction: column;
}

table {
    width: 50%;
    table-layout: fixed;
    border-collapse: collapse;
  }


th{
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: hsl(175deg 100% 31%);
    font-size: 2rem;
    padding: 24px 10px;
    text-align: center;


}


td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 500;
    font-size: 1.5rem;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

tr.current td {
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.3);
}

tr :first-child {
    width: 70%;
}


td, th{
    border: 1px solid  hsl(175deg 100% 31%);; 
            padding: 8px; 
            text-align: center; 

}


        /* General button styles */
        button, .file-upload {
            background-color: hsl(162deg, 100%, 33%);
            color: white; /* Text color */
            border: none; /* Remove default border */
            padding: 10px 20px; /* Button padding */
            font-size: 16px; /* Font size */
            border-radius: 5px; /* Rounded corners */
            cursor: pointer; /* Cursor pointer on hover */
            transition: background-color 0.3s ease; /* Smooth transition for hover effect */
        }

        /* Button hover effect */
        .button:hover, .file-upload:hover {
            background-color: hsl(162deg, 80%, 28%); /* Darker shade on hover */
        }

        /* File upload styles */
        .file-upload {
            display: inline-block; /* Inline block to size like a button */
            text-align: center; /* Center the text */
        }

        /* File input element hidden */
        .file-upload input[type="file"] {
            display: none; /* Hide default file input */
        }